@tailwind base;
@tailwind components;
@tailwind utilities;
 
:root {
    --saturn-size: 6.917vw;
    --saturn-ring-size: 16.188vw;
    --saturn-ring-width: 1.604vw;
    --saturn-ring-segments: 50;
    --titan-size: 3.375vw;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  background: #38216b;
  /* max-width: 100vw; */
}